body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e94d4d;
    color: aliceblue;
}

.quiz-container {
    margin: 50px auto;
    max-width: 500px;
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color:azure;
    border-radius: 5px;
}

#question-container {
    display: none;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgrey;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
}

#feedback-container {
    margin-top: 20px;
}

.highscore-container {
    float: center;
    margin-right: 0px;
}

ol {
    list-style-type: decimal;
    padding: 20px;
    text-align: rigg;
}