body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.quiz-container {
    margin: 50px auto;
    max-width: 500px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color:azure;
    border-radius: 5px;
}

#question-container {
    display: none;
}

#feedback-container {
    margin-top: 20px;
}

.highscore-container {
    float: center;
    margin-right: 0px;
}

ol {
    list-style-type: decimal;
    padding-left: 50px;
}